# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/*.build/
build/*.dist/
dist/
*.spec.bak

# Virtual envs
.venv/
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# App runtime data
*.sqlite3
*.sqlite3-journal
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
